/Level1/nbproject/private/
/Level1/build/
/Exercico2/nbproject/private/
/Exercicio2/nbproject/private/
/Exercicio1/nbproject/private/
/Exercicio2/build/
/Exercicio1/build/
/Exercicio3/nbproject/private/
/Exercicio3/build/
/Exercicio4/nbproject/private/
/Exercicio4/build/
/Exercicio5/nbproject/private/
/Exercicio5/build/
/Exercicio6/nbproject/private/
/Exercicio6/build/
/Exercicio7/nbproject/private/
/Exercicio7/build/
/Exercicio8/nbproject/private/
/Exercicio9/nbproject/private/
/Exercicio8/build/
/Exercicio9/build/
/Exercício10/nbproject/private/
/Execicio10/nbproject/private/
/Exercicio10/nbproject/private/
/Exercicio11/nbproject/private/
/Exercicio12/nbproject/private/
/Exercicio13/nbproject/private/
/Exercicio14/nbproject/private/
/Exercicio15/nbproject/private/
/Exercicio16/nbproject/private/
/Exercicio17/nbproject/private/
/exercicio18/nbproject/private/
/Exercicio19/nbproject/private/